n8n-workflows/day01/Day01_HelloWorld_IF_HTTP.json
{
  "name": "Day01_HelloWorld_IF_HTTP",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "cbbc84ac-45d4-4f9f-b8ab-76ad57a7163a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb75501c-219f-4d24-806e-3bc8aac407b0",
              "name": "message",
              "value": "Hello World",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "ba3a09e9-d55c-4be4-9888-15602b0ac8be",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f363d8cb-ffef-4637-b7bf-e0f2f77862e3",
              "name": "finalMessage",
              "value": "=Hello World — executed successfully\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        16
      ],
      "id": "cf915c31-f83c-45dd-a1d8-fb624f04a123",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "053d8bbd-b2d8-4dc4-8870-0ab2ff6e5e0a",
              "leftValue": "{{$json.finalMessage.toLowerCase()}}",
              "rightValue": "hello",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        16
      ],
      "id": "4657ea88-e80c-4552-99ba-5b712559bb8f",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ee84bfa-991c-4ecf-88df-7d9cd96fc3d7",
              "name": "status",
              "value": "Message contains Hello",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        -80
      ],
      "id": "bcd671aa-46da-487e-af1c-75948b72b7b2",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "url": "https://httpbin.org/get",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1040,
        -64
      ],
      "id": "287f03dc-c0b3-4805-b71e-07c5d0f10795",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5f754a20-0c11-45d9-b132-7db108c6276c",
  "meta": {
    "instanceId": "8af83f9ff167d8e162a0cce00558689c01e508bc9dfe4578815f07415442fdff"
  },
  "id": "KkkaHLhhMS4D79v_vY3rH",
  "tags": []
}